# Makes sure that the junk folder from pycharm isn't pushed onto git
.idea/
# Don't push locally produced logs
logs/
# Temp files produced from scripts (copied over from arXiv Sanity Preserver)
tmp/
pdf/
txt/
*.p
*.pyc
as.db
env/
data
*.DS_Store